* {
    box-sizing: border-box
}

body {
  color: #333; 
  background-color: #ffffff; 
  background-image: url("../images/vertical-waves.png"); 
}

.navbar .navbar-brand {
  background:  #4aaaa5;
  color: #ffffff;
  margin: 0 auto;
  font-size: 26px;
  text-align: center;
  padding: 15px;
}

.nav-link {
  color: #777777;
}

.page-header {
    max-width: 100%;
    color: #4aaaa5;
    align-content: left;
    margin-bottom: 20px;
    font-size: 26px;
    line-height: 50px;
    border-bottom: 3px solid #ddd; 
}

.container {
  width: 40%;
  background-color: #ffffff;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 2px solid #cccccc;
  /* border: solid 4px red; */
}

.contact-field-text {
  border: solid 2px #dddddd;
  padding: 10px;
}

.submit-button {   
  margin: 20px;
  background:#4aaaa5;
  color: #ffffff;
}

 /* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
} 
body {
  margin-bottom: 60px; 
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%; 
  height: 85px; 
  line-height: 60px; 
  background-color: #666666;
  border-top: 6px solid #4aaaa5;
  color: #ffffff;
  text-align: center;
}

/* End Sticky footer style

/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { ... }

